:root {
  /* Color */
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #2a2a2a;
  --slate-grey: #2d3748;
  --blue-grey: #a0aec0;
  --rust: #b05433;
  --off-white: #fafafa;

  /* Spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */
  --space-11: 2.75rem; /* 44px */
  --space-12: 3rem; /* 48px */
  --space-13: 3.25rem; /* 52px */
  --space-14: 3.5rem; /* 56px */
  --space-15: 3.75rem; /* 60px */
  --space-16: 4rem; /* 64px */
  --space-17: 8rem; /* 120px */

  /* Shadow */
  --box-shadow: 0px 0px 12px rgba(45, 45, 45, 0.15);

  /* Typography */
  --font-weight-light: light;
  --font-weight-normal: normal;
  --font-weight-semibold: bold;
  --font-weight-bold: bolder;
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

body {
  background-image: url(./imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.master,
.container {
  display: flex;
  flex-direction: column;
}

.header,
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-6) 10vw;
}

.header{
  padding-bottom: 0px !important;
}

.language {
  display: flex;
  gap: 8px;
  align-self: flex-end;
}

.language-btn {
  border: 1px solid var(--blue-grey);
  color: var(--blue-grey);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 32px;
  padding-top: 4px;
  font-size: 14px;
}
.language-btn:hover {
  border: 1px solid var(--rust);
  color: var(--rust);
  background-color: rgba(176, 84, 51, 0.1);
}
.language-btn.active {
  border: 1px solid var(--rust);
  color: var(--rust);
  background-color: rgba(176, 84, 51, 0.1);
  font-weight: var(--font-weight-bold);
}
.language-btn.disabled {
  cursor: none;
  opacity: 20%;
}

.sograpeLogo {
  width: auto;
  margin-bottom: 64px;
  height: 80px;
}

.intro p {
  max-width: 500px;
  text-align: center;
  color: var(--slate-grey);
}

h1 {
  font-size: var(--space-6);
  line-height: 120%;
  color: var(--rust);
  font-weight: var(--font-weight-normal);
}

.intro h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--space-16);
  line-height: 120%;
  text-align: center;
  color: var(--dark-grey);
}

.section-one,
.section-two {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-8);
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-15) 10vw;
}

.desktop-map {
  max-width: 1028px;
  width: 100%;
  height: auto;
  display: block;
}

.mobile-map {
  width: 100%;
  display: none;
}

.emergency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--off-white);
  padding: var(--space-17) 10vw;
  gap: 5vw;
}

p {
  color: var(--slate-grey);
}

.section-title {
  font-size: var(--space-6);
  color: var(--rust);
  font-weight: var(--font-weight-normal);
  padding-bottom: var(--space-4);
}

.section-subtitle {
  font-weight: var(--font-weight-semibold);
  font-size: var(--space-10);
  line-height: 120%;
  color: var(--dark-grey);
  padding-bottom: var(--space-10);
}

.highlight {
  font-size: var(--space-4);
  color: var(--rust);
  font-weight: var(--font-weight-normal);
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--space-4);
}
.contact-card {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: var(--space-4);
  border: 0px solid;
  border-radius: var(--space-3);
}

.contact-card h4 {
  color: var(--dark-grey);
  font-weight: var(--font-weight-semibold);
  font-size: var(--space-4);
  padding-bottom: var(--space-2);
}

.contact-light {
  color: var(--blue-grey);
  font-weight: var(--font-weight-normal);
  font-size: var(--space-4);
}

.contact-card i {
  color: var(--blue-grey);
  margin-right: var(--space-1);
  font-size: var(--space-3);
}
.contact-card a {
  color: var(--slate-grey);
  text-decoration: underline;
}

.services,
.hygiene,
.general {
  display: flex;
  flex-direction: column;
  padding: var(--space-17) 10vw;
}

.hygiene,
.services {
  background-color: var(--off-white);
}

.container-titles {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.container-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
}

.health {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-17) 10vw;
}

.health-card {
  max-width: 1400px;
  box-shadow: var(--box-shadow);
  padding: var(--space-6);
  border: 0px solid;
  border-radius: var(--space-3);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--off-white);
  padding: var(--space-2) 10vw;
  border-top: 1px solid var(--blue-grey);
}

.footer-logo {
  height: 48px;
}
.footer-img {
  height: 48px;
}
.footer-responsible {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white);
  padding: var(--space-4) 10vw;
  border-top: 1px solid var(--blue-grey);
  color: var(--blue-grey);
  font-size: var(--space-5);
}

.copyrights {
  color: var(--blue-grey);
  font-size: var(--space-3);
}

.rule {
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  align-items: flex-start;
  flex: 1;
}
.desc {
  display: flex;
  flex-direction: column;
 justify-content: space-between;
  gap: var(--space-2);
}

.desc h3 {
  font-weight: var(--font-weight-semibold);
}

b {
  font-weight: var(--font-weight-semibold);
}

.icon {
  width: var(--space-16);
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
  border-radius: 20px;
  flex: 1;
  min-width: 200px;
}


@media (max-width: 1200px) {
  body {
    background-image: url(./imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 200vw;
  }
}

@media (max-width: 900px) {
  body {
    background-image: url(./imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 200vw;
  }

  .header,
  .intro,
  .map,
  .emergency,
  .health,
  .services,
  .hygiene,
  .general,
  .footer {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  .header {
    padding-bottom: 0px;
  }
  .language {
    align-self: center;
  }

  .sograpeLogo {
    margin-bottom: 32px;
  }

  .intro h2 {
    font-size: var(--space-10);
  }

  .section-subtitle {
    font-size: var(--space-6);
  }

  .section-title {
    font-size: var(--space-4);
  }

  .highlight {
    font-size: var(--space-4);
  }

  .contacts {
    grid-template-columns: 1fr;
  }

  .container-sections,
  .emergency {
    flex-direction: column;
  }

  .emergency,
  .services,
  .hygiene,
  .general {
    padding-top: var(--space-17);
    padding-bottom: var(--space-17);
  }

  .copyrights {
    font-size: var(--space-3);
  }

  .icon {
    width: 48px;
  }

  .desktop-map {
    max-width: 1400px;
    width: 100%;
    display: none;
  }

  .mobile-map {
    max-width: 500px;
    width: 100%;
    display: block;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .footer-responsible {
    font-size: var(--space-4);
  }
}
